<%- include("_layouts/header.ejs") %>

    <html>

    <head>
        <style>
            #heading {
                font-size: 40px;
                margin-top: 40px;
                font-weight: normal;
                font-family: Century Gothic
            }

            .line {
                background-color: #ffffff;
                border-radius: 50px;
                border: none;
                padding: 2px;
                height: 4px;
                width: 100px;
                margin-top: 5px
            }

            .vertical-center {
                margin: 0;
                position: absolute;
                top: 45%;
                -ms-transform: translateY(-45%);
                transform: translateY(-45%)
            }

            @media (max-width: 768px) {
                .vertical-center {
                    margin: 0;
                    position: relative;
                    top: 0;
                    -ms-transform: translateY(0);
                    transform: translateY(0)
                }
            }

            .gap {
                height: 130px
            }

            @media (max-width: 768px) {
                .gap {
                    height: 0
                }
            }

            .image {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin: 0 auto
            }

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%
            }

            .image-name {
                font-weight: bold
            }

            .fit-image {
                width: 100%;
                object-fit: cover
            }
        </style>
    </head>

    <body>



        <div class="container-fluid px-5 mx-auto">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-0">
                    <h5 id="heading" class="mb-0">Thông tin thành viên</h5>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 text-center mb-5">
                    <div class="line mx-auto"></div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <p>Chúng tôi cam kết đem lại những sản phẩm tốt nhất và ưu tiên hàng đầu của chúng tôi là tạo nên sự
                        khác biệt.</p>
                    <p> Sứ mệnh của chúng tôi là đem đến cho bạn những giọt cafe, ly trà sữa thơm ngon. Đúng chuẩn gu
                        Việt.</p>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="image"><img src="/img/tuan.jpg" class="fit-image"></div>
                            <p class="mt-2 text-center image-name">Nguyễn Hữu Tuấn </br>Developer</p>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="gap"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="image bottom-image"><img src="/img/dong.jpg" class="fit-image">
                            </div>
                            <p class="mt-2 text-center image-name">Lê Văn Đông</br> Tester</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row justify-content-center">
                        <div class="col-md-8 vertical-center">
                            <div class="image"><img src="/img/toan.jpg" class="fit-image"></div>
                            <p class="mt-2 text-center image-name">Nguyễn Trần Thiện Toàn</br> Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="image"><img src="/img/dongba.png" class="fit-image"></div>
                            <p class="mt-2 text-center image-name">Trần Đông Ba</br> Developer</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gap"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="image bottom-image"><img src="/img/giabao.jpg" class="fit-image">
                            </div>
                            <p class="mt-2 text-center image-name">Lê Trần Gia Bảo</br>Business Analytics</p>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>
    <%- include("_layouts/footer.ejs") %>
        </div>