<%- include("_layouts/header.ejs") %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Roboto:ital,wght@0,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/homepage.css">
    <div id="container">
        <div id="text-content">
            <h1 class="text-heading">
                Mern Coffee
            </h1>
            <div class="btn">
                <a href="/about">Tìm hiểu thêm</a>
            </div>
        </div>
        <div id="img-content">

        </div>
    </div>

    <%- include("_layouts/footer.ejs") %>
        </div>

        <!-- test git abc deffff-->