<%- include("_layouts/header.ejs") %>

    <div id="container">
        <div id="text-content">
            <h1 class="text-heading">
                Mern Coffee
            </h1>
            <div class="btn">
                <a href="">Tìm hiểu thêm</a>
            </div>
        </div>
        <div id="img-content">

        </div>
    </div>

    <%- include("_layouts/footer.ejs") %>
        </div>

        <!-- test git -->