* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#main {
}

.header {
    background-color: #000000;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.left-navbar {
    height: 100%;
    display: flex;
}

.left-navbar a {
    padding: 0 60px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
}

.left-navbar a:hover {
    background-color: #E84545;
    color: #000;
}

/* Test */



/* Full-width input fields */
/*
input[type=text],
input[type=password] {

    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;
    margin-bottom: 30px;
    background: transparent;
    color: rgba(255, 255, 255, 0.555);
    height: 35px;
    width: 300px;
}
*/

/* Set a style for all buttons */

.submit-btn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 7px #38d39f70;
    background: #38d39f;
    transition: all 1s;
    padding: 10px 18px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.submit-btn:hover {
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.subtitle {
    font-size: 11px;
    color: rgba(177, 177, 177, 0.3);
}


/* Extra styles for the cancel button */

.profile-a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile:hover,
.profile-dropdown:hover,
.header-cart:hover{
    background-color: #E84545;
}

.profile:hover i,
.profile-dropdown:hover i,
.header-cart:hover i{
    color: black;
}

.header-cart:hover .items-num{
    background-color: #fff;
    color: #000;
}

.profile,
.profile-dropdown,
.header-cart{
    padding: 0px 16px;
    height: 60px;
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
}

.profile>i,
.profile-dropdown>i,
.header-cart>i {
    color: #fff;
    font-size: 30px;
    padding: 16px 0;
}

.items-num{
    height: 24px;
    width: 24px;
    font-size: 12px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #E84545;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}


.show-flex{
    display: flex !important;
}

.profile-menu{
    background-color: #f9f9f9;
    color: #000;
    position: absolute;
    right: 0;
    top: 60px;
    display: none;
    flex-direction: column;
    min-width: 160px;
}

.welcome{
    padding: 16px;
    border-bottom: 1px solid #000;
}

.profile-menu a{
    padding: 16px;
    text-decoration: none;
    color: #000;
    line-height: 32px;
    border-bottom: 1px solid #000;
}

.profile-menu a:hover {
    background-color: #ddd;
}

.right-navbar{
    display: flex;
    flex-direction: row;
}

.mobile-menu-btn{
    display: none;
    color: white;
    font-size: 32px;
    justify-content: center;
    align-items: center;    
    padding: 16px;
    height: 60px;
}

.mobile-menu-btn:hover{
    background-color: #E84545;
    color: #000;
}

.mobile-header{
    height: auto;
    display: block;
}

.hide{
    display: none;
}

.mobile-menu-btn-res{
    position: absolute;
    top: 0;
    right: 0;
}

.left-navbar-mobile{
    text-align: left !important;
}

@media (min-width: 740px) and (max-width: 1023px){
    .left-navbar a {
        padding: 0px 40px;
    }
}

@media (max-width: 739px){
    .mobile-menu-btn{
        display: flex;
    }
    .left-navbar{
        flex-direction: column;
        overflow: hidden;
    }
    .left-navbar a{
        text-align: center;
        padding: 0px 16px;
        height: 60px;
    }
    .profile-menu{
        left: 0;
    }
}