#container {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
}

#container #text-content {
    background-color: #000000;
    width: 30%;
    height: 100%;
    position: absolute;
}

#container #img-content {
    left: 30%;
    position: absolute;
    height: 100%;
    width: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/coffee-background.jpg");
}

#container #text-content .text-heading {
    color: white;
    font-size: 50px;
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
}

#container #text-content .btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #EEEEEE;
    height: 10%;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

#container #text-content .btn a {
    text-decoration: none;
    line-height: 100%;
    width: 100%;
    color: black;
    display: block;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

#container #text-content .btn:hover {
    background-color: #E84545;
}

#container #text-content .btn:hover a {
    color: white;
}