<%- include('../_layouts/adminheader') %>

    <h2 class="page-title">Add a category</h2>
    <hr class="hline">
    <a href="/admin/categories" class="btn2 btn-primary btn-lg ">Back to all categories</a>
    <br>
    <% if (error) { %>
        <div style="color: red;"><%= error %></div>
    <% } %> 
    <br>

    <form method="post" action="/admin/categories/add-category">

        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
        </div>

        <button class="btn2 btn-default  btn-lg ">Submit</button>
    </form>

    <%- include('../_layouts/adminfooter') %>