<!DOCTYPE html>

<html>

<head>
    <title>Admin Page</title>
</head>

<body>
    <p>This is category testing page</p>

    <article>
        <div>Div in article </div>
    </article>

 

    <body>
        <p>This is edit category testing page</p>
    
        <form action="/admin/categories/edit-category/<%= id %>" method="POST">
            <label for="">Title</label>
            <input type="text" name="title" value="<%= title %>" placeholder="Title">
            <input type="submit" value="SUbmit">
        </form>
    </body>

</body>


</html>