<%- include('../_layouts/adminheader') %>

<!-- <!DOCTYPE html>

<html>

<head>
    <title>Admin Page</title>
</head>

<body> -->
    <p>This is admin testing page</p>

    <article>
        <div>Div in article </div>
    </article>

 

    
    <p>This is post testing page</p>

    <form action="/admin" method="POST">
        <input type="text" name="ten" value="nguyenvana">
        <input type="submit" value="SUbmit">
    </form>
    
    <p> <%= user %></p>

</body>


</html>