<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
    <div class="container">
        <div class="container-left">
            <h5 class="footer-heading text-white">Về chúng tôi</h5>

            <p class="footer-content text-white">
            Chúng tôi là những thanh niên nhiệt huyết với tình yêu cà phê đích thực còn trà sữa chỉ dùng để tán gái. Vì thế, trang web này ra đời nhằm phục vụ cho cánh đàn ông thể hiện bản lĩnh của mình và phục vụ chị em phụ nữ lúc chúng ta lỡ chọc chó và họ hóa
            sư tử. Vì tương lai một "nóc nhà" to bự, anh em hãy đến với chúng tôi. 💓
            </p>
        </div>    
        
        <div class="container-right">
            <h5 class="footer-heading text-white">Chính sách</h5>

            <ul class="footer-list">
                <li>
                    <a href="#" class="text-white ">Hoàn tiền</a>
                </li>
                <li>
                    <a href="# " class="text-white ">Bảo mật</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright text-white">
        © 2021 Copyright:
        <a class="text-white" href="/ ">Mern Coffee</a>
    </div>
        <!-- Copyright -->
</div>

</main>


</body>


</html>