<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <%= title%>
    </title>
    <!--header's css-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body>

    <div id="main">
        <div id="header">
            <div id="navbar">
                <a href="/">Home</a>
                <a href="/promotions">News</a>
                <a href="/products">Products</a>
                <a href="/about">About us</a>
            </div>
            <div class="right-navbar">
                <div class="cart">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="items-num">3</div>
                </div>
                <% if (user) { %>
                    <div id="profile-dropdown">
                        <i class="fas fa-user-circle"></i>
                        <div class="profile-menu">
                            <div class="welcome">Hi, <%= user.username %>
                            </div>
                            <a href="/me" class="view-profile">
                                <i class="fa fa-user"></i>
                                Profile
                            </a>
                            <% if (user && user.role !="user" ) { %>
                                <a href="/admin/pages">
                                    <i class="fa fa-lock"></i>
                                    Admin Area
                                </a>
                                <% }%>
                                    <a href="/users/logout">
                                        <i class="fa fa-power-off"></i>
                                        Logout
                                    </a>
                        </div>
                    </div>
                    <% } else {%>
                        <div id="profile">
                            <a href="/users/login" class="profile-a"></a>
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <% } %>
            </div>


        </div>

        <script>
            var profileBtn = document.querySelector("#profile-dropdown");
            var dropdownMenu = document.querySelector(".profile-menu");
            profileBtn.addEventListener('click', () => {
                dropdownMenu.classList.toggle("show-flex");
            })
            window.onclick = (e) => {
                if (!(e.target.matches('#profile-dropdown') || e.target.matches(".fa-user-circle"))) {
                    if (dropdownMenu.classList.contains('show-flex')) {
                        dropdownMenu.classList.remove('show-flex')
                    }
                }
            }
        </script>