<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <%= title%>
    </title>
    <!--header's css-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">

    <!--your css-->
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

    <div id="main">
        <div id="header">
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About us</a></li>
            </ul>
            <div id="profile">
                <a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" margin-right: 15px;><i class="fas fa-user-circle"></i></a>
            </div>
        </div>


        <div id="id01" class="content-container">

            
                
                
            <div class="form-container">
                <% if (user) { %>
                    <li><a href="/users/logout">Hi, <%= user.username %> ( logout )</a></li>
                <% } else {%>
                <form class="animate " action="/users/login" method="post">

                    <div class="container">

                        <input type="text" placeholder="Enter Username" name="username" required><br>


                        <input type="password" placeholder="Enter Password" name="password" required><br>


                    </div>

                    <div>
                        <button type="submit" class="submit-btn">Login</button>
                        <div class="containerend">
                            <a href="/users/register">
                                <button type="button" class="register">Register</button>
                            </a>
                            <span class="psw subtitle">Forgot <a href="#">password?</a></span>
                        </div>
                    </div>
                </form>
                <% } %>
                <% if (user && user.role != "user") { %>
                    <li><a href="/admin/pages">Admin Area</a></li>
                <% }%>
            </div>
        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>