<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <%= title%>
    </title>
    <!--header's css-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body>

    <div id="main">
        <div id="header">
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About us</a></li>
            </ul>
            <div id="profile">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>


        <div class="modal">
            <div class="animate modal-container">
                <div class="modal-close">
                    <i class="fas fa-times"></i>
                </div>
                
                <div class="modal-body">
                    <form action="">
                        <label for="username-input" class="modal-label">
                            <i class="fas fa-user"></i>
                            Username
                        </label>
                        <input type="text" id="username-input" class="form-control" placeholder="Enter Username" name="uname" required>

                        <label for="password-input" class="modal-label">
                            <i class="fas fa-lock"></i>
                            Password
                        </label>
                        <input type="password" id="password-input" class="form-control" placeholder="Enter Password" name="psw" required>

                        <input type="submit" value="Login" class="submit-btn"></input>
            
                    </form>
                </div>
                <div class="modal-footer">
                        <a href="http://www.google.com/">
                            <button type="button" class="register">Register</button>
                        </a>
                    <span class="psw subtitle">Forgot <a href="#">password?</a></span>
                </div>
            </div>
        </div>

        <script>
            var profile = document.querySelector('#profile')
            var modal = document.querySelector('.modal')
            var closeBtn = document.querySelector('.modal-close')
            var container = document.querySelector('.modal-container')
            profile.addEventListener('click', ()=>{
                modal.classList.add('open')
            })

            // When the user clicks anywhere outside of the modal or close button, close it
            modal.addEventListener('click',()=>{
                modal.classList.remove('open')
            })

            closeBtn.addEventListener('click',()=>{
                modal.classList.remove('open')
            })

            container.addEventListener('click',(e)=>{
                e.stopPropagation()
            })
        </script>